*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;

    .menu{
        display: none;
        color: #951515;
        font-size: 30px;
        transform: translateY(7px);
    }

    .logo{
        width: 100px;
    }

    .login{
        margin-left: 10px;
        border-radius: 5px;
        font-size: 16px;
        padding: 7px;
        background-color: #951515;
        color: white;
        border-color: #951515;
        
        fa-icon{
            margin-right: 7px;
        }
    }
    .cgu{
        margin-left: 10px;
        border-radius: 5px;
        font-size: 16px;
        padding: 7px;
        background-color: white;
        color: #951515;
        border-color: #951515;

        fa-icon{
            margin-right: 7px;
        }
    }
    .favorite-dish{
        background-color: white;
        padding: 7px;
        border-radius: 5px;
        color: #951515;
        font-size: 16px;
        border-color: #951515;
    }
    .favorite-resto{
        margin-left: 10px;
        background-color: white;
        padding: 7px;
        border-radius: 5px;
        color: #951515;
        font-size: 16px;
        border-color: #951515;
    }
}

.menu-open{
    
    display: none;
    position: fixed;
    margin-top: 65px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    height: 325px;
    width: 100%;
    background-color: white;
    z-index: 5;
    // transition: 2s ease;
    // animation: bg 1s;
    
    

    a{
        text-decoration: none;

        div{
            background-color: white;
            color: #951515;
            border-bottom: solid rgb(240, 240, 240);
            padding: 20px 30px;
            font-size: 22px;
            text-align: center;
            cursor: pointer;
    
            fa-icon{
                margin-right: 10px;
            }
        }
    }
}

.menu-close{
    z-index: 5;
    color: #951515;
    position: fixed;
    margin-top: 65px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    height: 325px;
    width: 100%;
    background-color: white;
    // transition: 2s ease;
    // animation: bg 1s;
    
    

    a{
        text-decoration: none;

        div{
            background-color: white;
            color: #951515;
            border-bottom: solid rgb(240, 240, 240);
            padding: 20px 30px;
            font-size: 22px;
            text-align: center;
            cursor: pointer;
    
            fa-icon{
                margin-right: 10px;
            }
        }
    }
}

.sub-header{
    height: 70px;
}
main{
    width: 100%;
    .banner{
        position: relative;
        height: 50vh;
        width: 100%;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .couch{
            padding: 30px;
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.57);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .header{
                display: flex;
                justify-content: space-between;

                .resto-name{
                    font-size: 25px;
                }
                .resto-star{
                    background-color: #951515;
                    padding: 0 10px;
                    border-radius: 5px;
                    height: 25px;

                    fa-icon{    
                        color: yellow;
                    }
                }
            }
            .details-inside-resto{
                transform: translateY(-10px);

                .status-open{
                    background-color: green;
                    width: 100px;
                    text-align: center;
                    border-radius: 5px;
                }
                .status-closed{
                    background-color: red;
                    width: 100px;
                    text-align: center;
                    border-radius: 5px;
                }
            }
            .desc{
                width: 400px;
                border: solid;
                border-radius: 5px;
                padding: 10px;
            }
        }
    }

    .body{
        padding: 10px 100px;

        .header{
            text-align: center;
            
            h1{
                font-weight: bold;
                font-size: 35px;
                font-family:cursive ;
            }
        }
        
        .dishes{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 50px;
            gap: 10px;

            .dish{
                height: 100px;
                display: flex;
                align-items: center;
                margin-top: 20px;
                
                // img{
                //     height: 90px;
                //     border-radius: 5px;
                //     // margin-right: 15px;
                // }

                .img-container{
                    position: relative;
                    img{
                        height: 90px;
                        border-radius: 5px;
                        // margin-right: 15px;
                    }
                    
                    .couch2{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 5px;
                        padding: 5px;
                        background-color: rgba(0, 0, 0, 0.133);
                        font-size: 12px;

                        .available{
                            background-color: green;
                            color: white;
                            padding: 0 10px;
                            border-radius: 5px;
                        }

                        .unavailable{
                            background-color: red;
                            color: white;
                            padding: 0 10px;
                            border-radius: 5px;
                        }
                    }
                }

                .dish-details{
                    display: flex;
                    flex-direction: column;
                    margin-left:15px;
                    width: 100%;

                    .trait{
                        border: 1px dashed;
                        margin: 8px 0;
                    }

                    .info1{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .dish-name{
                            font-size: 20px;
                        }
                        .dish-price{
                            font-size: 20px;
                            font-weight: bold;
                            color: #951515 ;
                        }
                    }
                }
            }
        }
    }
}
footer{
    height: 30px;
}
.page{
    margin: 30px 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    background-color: rgb(244, 244, 244);

    li{
        margin: 0.25rem;
        padding: 0.75rem 1rem;
        color: grey;
        
    }

    a{
        text-decoration: none;

        li{
            background-color: white;
            border-radius: 5px;
            
        }

        &:hover li{
            border: solid 1px #951515;
            color: #951515;
        }
    }
    
    a.active li{
        background-color: #951515;
        color: white;
    }
    
}

@media only screen and (max-width: 300px) {
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 5;
    
        .menu{
            display: inline-block;
            color: #951515;
            font-size: 30px;
            transform: translateY(7px);
        }
        .contact{
            display: none;
        }
        .logo{
            width: 100px;
        }
    
        .login{
            display: none;
            margin-left: 10px;
            border-radius: 5px;
            font-size: 16px;
            padding: 7px;
            background-color: #951515;
            color: white;
            border-color: #951515;
            
            fa-icon{
                margin-right: 7px;
            }
        }
        .cgu{
            display: none;
            margin-left: 10px;
            border-radius: 5px;
            font-size: 16px;
            padding: 7px;
            background-color: white;
            color: #951515;
            border-color: #951515;
    
            fa-icon{
                margin-right: 7px;
            }
        }
        .favorite-dish{
            display: none;
            background-color: white;
            padding: 7px;
            border-radius: 5px;
            color: #951515;
            font-size: 16px;
            border-color: #951515;
        }
        .favorite-resto{
            display: none;
            margin-left: 10px;
            background-color: white;
            padding: 7px;
            border-radius: 5px;
            color: #951515;
            font-size: 16px;
            border-color: #951515;
        }
    }
    .menu-open{
    
        display: none;
        position: fixed;
        margin-top: 65px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: black;
        height: 325px;
        width: 100%;
        background-color: white;
        z-index: 5;
        // transition: 2s ease;
        // animation: bg 1s;
        
        
    
        a{
            text-decoration: none;
    
            div{
                background-color: white;
                color: #951515;
                border-bottom: solid rgb(240, 240, 240);
                padding: 20px 30px;
                font-size: 18px;
                text-align: center;
                cursor: pointer;
        
                fa-icon{
                    margin-right: 10px;
                }
            }
        }
    }
    
    .menu-close{
        z-index: 5;
        color: #951515;
        position: fixed;
        margin-top: 65px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: black;
        height: 325px;
        width: 100%;
        background-color: white;
        // transition: 2s ease;
        // animation: bg 1s;
        
        
    
        a{
            text-decoration: none;
    
            div{
                background-color: white;
                color: #951515;
                border-bottom: solid rgb(240, 240, 240);
                padding: 20px 30px;
                font-size: 18px;
                text-align: center;
                cursor: pointer;
        
                fa-icon{
                    margin-right: 10px;
                }
            }
        }
    }
    .sub-header{
        height: 70px;
    }
    main{
        width: 100%;
        .banner{
            height: 50vh;
            width: 100%;
            position: relative;
    
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .couch{
                padding: 15px;
                color: white;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.57);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                .header{
                    display: flex;
                    justify-content: space-between;
    
                    .resto-name{
                        font-size: 25px;
                    }
                    .resto-star{
                        background-color: #951515;
                        padding: 0 10px;
                        border-radius: 5px;
    
                        fa-icon{    
                            color: yellow;
                        }
                    }
                }
                .desc{
                    width: 100%;
                    border: solid;
                    border-radius: 5px;
                    padding: 10px;
                }
            }
        }
    
        .body{
            padding: 50px 20px;
    
            .header{
                text-align: center;
                
                h1{
                    font-weight: bold;
                    font-size: 35px;
                    font-family:cursive ;
                }
            }
            
            .dishes{
                display: grid;
                grid-template-columns: 100%;
                margin-top: 50px;
    
                .dish{
                    height: 100px;
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    
    
                    img{
                        height: 90px;
                        border-radius: 5px;
                        // margin-right: 15px;
                    }
                    .dish-details{
                        display: flex;
                        flex-direction: column;
                        margin-left:15px;
                        width: 100%;
    
                        .trait{
                            border: 1px dashed;
                            margin: 8px 0;
                        }
    
                        .info1{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
    
                            .dish-name{
                                font-size: 20px;
                            }
                            .dish-price{
                                font-size: 20px;
                                font-weight: bold;
                                color: #951515 ;
                            }
                        }
                    }
                }
            }
            mat-paginator{
                border: solid gray;
                margin-top: 20px;
                border-radius: 5px;
                
            }
        }
    }
    .page{
        margin: 0 20px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        background-color: rgb(244, 244, 244);
    
        li{
            margin: 0.25rem;
            padding: 0.75rem 1rem;
            color: grey;
            
        }
    
        a{
            text-decoration: none;
    
            li{
                background-color: white;
                border-radius: 5px;
                
            }
    
            &:hover li{
                border: solid 1px #951515;
                color: #951515;
            }
        }
        
        a.active li{
            background-color: #951515;
            color: white;
        }
        
    }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 5;
    
        .menu{
            display: inline-block;
            color: #951515;
            font-size: 30px;
            transform: translateY(7px);
        }
        .contact{
            display: none;
        }
        .logo{
            width: 100px;
        }
    
        .login{
            display: none;
            margin-left: 10px;
            border-radius: 5px;
            font-size: 16px;
            padding: 7px;
            background-color: #951515;
            color: white;
            border-color: #951515;
            
            fa-icon{
                margin-right: 7px;
            }
        }
        .cgu{
            display: none;
            margin-left: 10px;
            border-radius: 5px;
            font-size: 16px;
            padding: 7px;
            background-color: white;
            color: #951515;
            border-color: #951515;
    
            fa-icon{
                margin-right: 7px;
            }
        }
        .favorite-dish{
            display: none;
            background-color: white;
            padding: 7px;
            border-radius: 5px;
            color: #951515;
            font-size: 16px;
            border-color: #951515;
        }
        .favorite-resto{
            display: none;
            margin-left: 10px;
            background-color: white;
            padding: 7px;
            border-radius: 5px;
            color: #951515;
            font-size: 16px;
            border-color: #951515;
        }
    }
    .sub-header{
        height: 70px;
    }
    main{
        width: 100%;
        .banner{
            height: 50vh;
            width: 100%;
            position: relative;
    
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .couch{
                
                color: white;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.57);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                .header{
                    display: flex;
                    justify-content: space-between;
    
                    .resto-name{
                        font-size: 25px;
                    }
                    .resto-star{
                        background-color: #951515;
                        padding: 0 10px;
                        border-radius: 5px;
    
                        fa-icon{    
                            color: yellow;
                        }
                    }
                }
                .desc{
                    width: 100%;
                    border: solid;
                    border-radius: 5px;
                    padding: 10px;
                }
            }
        }
    
        .body{
            padding: 50px 30px;
    
            .header{
                text-align: center;
                
                h1{
                    font-weight: bold;
                    font-size: 35px;
                    font-family:cursive ;
                }
            }
            
            .dishes{
                display: grid;
                grid-template-columns: 100%;
                margin-top: 50px;
    
                .dish{
                    height: 100px;
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    
    
                    img{
                        height: 90px;
                        border-radius: 5px;
                        // margin-right: 15px;
                    }
                    .dish-details{
                        display: flex;
                        flex-direction: column;
                        margin-left:15px;
                        width: 100%;
    
                        .trait{
                            border: 1px dashed;
                            margin: 8px 0;
                        }
    
                        .info1{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
    
                            .dish-name{
                                font-size: 20px;
                            }
                            .dish-price{
                                font-size: 20px;
                                font-weight: bold;
                                color: #951515 ;
                            }
                        }
                    }
                }
            }
        }
    }
    .page{
        margin: 0 30px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        background-color: rgb(244, 244, 244);
    
        li{
            margin: 0.25rem;
            padding: 0.75rem 1rem;
            color: grey;
            
        }
    
        a{
            text-decoration: none;
    
            li{
                background-color: white;
                border-radius: 5px;
                
            }
    
            &:hover li{
                border: solid 1px #951515;
                color: #951515;
            }
        }
        
        a.active li{
            background-color: #951515;
            color: white;
        }
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 912px) {

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 5;
    
        .menu{
            display: inline-block;
            color: #951515;
            font-size: 30px;
            transform: translateY(7px);
        }
        .contact{
            display: none;
        }
        .logo{
            width: 100px;
        }
    
        .login{
            display: none;
            margin-left: 10px;
            border-radius: 5px;
            font-size: 16px;
            padding: 7px;
            background-color: #951515;
            color: white;
            border-color: #951515;
            
            fa-icon{
                margin-right: 7px;
            }
        }
        .cgu{
            display: none;
            margin-left: 10px;
            border-radius: 5px;
            font-size: 16px;
            padding: 7px;
            background-color: white;
            color: #951515;
            border-color: #951515;
    
            fa-icon{
                margin-right: 7px;
            }
        }
        .favorite-dish{
            display: none;
            background-color: white;
            padding: 7px;
            border-radius: 5px;
            color: #951515;
            font-size: 16px;
            border-color: #951515;
        }
        .favorite-resto{
            display: none;
            margin-left: 10px;
            background-color: white;
            padding: 7px;
            border-radius: 5px;
            color: #951515;
            font-size: 16px;
            border-color: #951515;
        }
    }
    .sub-header{
        height: 70px;
    }
    main{
        width: 100%;
        .banner{
            height: 40vh;
            width: 100%;
            position: relative;
    
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .couch{
                
                color: white;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.57);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                .header{
                    display: flex;
                    justify-content: space-between;
    
                    .resto-name{
                        font-size: 25px;
                    }
                    .resto-star{
                        background-color: #951515;
                        padding: 0 10px;
                        border-radius: 5px;
    
                        fa-icon{    
                            color: yellow;
                        }
                    }
                }
                .desc{
                    width: 100%;
                    border: solid;
                    border-radius: 5px;
                    padding: 10px;
                }
            }
        }
    
        .body{
            padding: 50px 30px;
    
            .header{
                text-align: center;
                
                h1{
                    font-weight: bold;
                    font-size: 35px;
                    font-family:cursive ;
                }
            }
            
            .dishes{
                display: grid;
                grid-template-columns: 100%;
                margin-top: 50px;
    
                .dish{
                    height: 100px;
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    
    
                    img{
                        height: 90px;
                        border-radius: 5px;
                        // margin-right: 15px;
                    }
                    .dish-details{
                        display: flex;
                        flex-direction: column;
                        margin-left:15px;
                        width: 100%;
    
                        .trait{
                            border: 1px dashed;
                            margin: 8px 0;
                        }
    
                        .info1{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
    
                            .dish-name{
                                font-size: 20px;
                            }
                            .dish-price{
                                font-size: 20px;
                                font-weight: bold;
                                color: #951515 ;
                            }
                        }
                    }
                }
            }
        }
    }
    .page{
        margin: 0 30px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        background-color: rgb(244, 244, 244);
    
        li{
            margin: 0.25rem;
            padding: 0.75rem 1rem;
            color: grey;
            
        }
    
        a{
            text-decoration: none;
    
            li{
                background-color: white;
                border-radius: 5px;
                
            }
    
            &:hover li{
                border: solid 1px #951515;
                color: #951515;
            }
        }
        
        a.active li{
            background-color: #951515;
            color: white;
        }
        
    }
}