<header>
    <div>
        <img class="logo" src="../../../assets/images/waaneat-logo.png" alt="logo">
    </div>
    <div class="contact">Besoin d'aide ? Contactez-nous: 773334433</div>
    <div>
        <button class="cgu"><fa-icon [icon]="faScaleBalanced"></fa-icon>Politique d'utilisation</button>
        <button class="login"><fa-icon [icon]="faUser"></fa-icon>Connexion</button>
    </div>
</header>
<div class="sub-header">

</div>
<main class="main-container">
    <div class="search-container">
        <div class="search-bar-container">
            <input type="text" placeholder="Rechercher votre plat">
            <button> <fa-icon [icon]="faSearch"></fa-icon> Rechercher</button>
        </div>
        <form class="filtre">
            <select name="" id="">
                <option value="Colobane">Colobane</option>
                <option value="Point E">Point E</option>
                <option value="Grand yoff">Grand yoff</option>
                <option value="HLM">HLM</option>
            </select>
            <div class="btn-container">
                <button> <fa-icon [icon]="faFilter"></fa-icon> Filtrer</button>
            </div>
        </form>
    </div>
    <div class="cards-container">

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                <div class="resto-details">
                    <div class="resto-title">
                        <span class="title">Chez lamine</span>
                        <span class="icon">4<fa-icon [icon]="faStar"></fa-icon></span>
                    </div>
                    <div class="adress">
                        <span><fa-icon [icon]="faLocationDot"></fa-icon> Colobane</span>
                    </div>
                    <div class="distance">
                        <span><fa-icon [icon]="faLocationArrow"></fa-icon> 4km</span>
                    </div>
                    <div class="available">
                        <span>dispo</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                <div class="resto-details">
                    <div class="resto-title">
                        <span class="title">Chez lamine</span>
                        <span class="icon">4<fa-icon [icon]="faStar"></fa-icon></span>
                    </div>
                    <div class="adress">
                        <span><fa-icon [icon]="faLocationDot"></fa-icon> Colobane</span>
                    </div>
                    <div class="distance">
                        <span><fa-icon [icon]="faLocationArrow"></fa-icon> 4km</span>
                    </div>
                    <div class="unavailable">
                        <span>indispo</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                <div class="resto-details">
                    <div class="resto-title">
                        <span class="title">Chez lamine</span>
                        <span class="icon">4<fa-icon [icon]="faStar"></fa-icon></span>
                    </div>
                    <div class="adress">
                        <span><fa-icon [icon]="faLocationDot"></fa-icon> Colobane</span>
                    </div>
                    <div class="distance">
                        <span><fa-icon [icon]="faLocationArrow"></fa-icon> 4km</span>
                    </div>
                    <div class="unavailable">
                        <span>indispo</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                <div class="resto-details">
                    <div class="resto-title">
                        <span class="title">Chez lamine</span>
                        <span class="icon">4<fa-icon [icon]="faStar"></fa-icon></span>
                    </div>
                    <div class="adress">
                        <span><fa-icon [icon]="faLocationDot"></fa-icon> Colobane</span>
                    </div>
                    <div class="distance">
                        <span><fa-icon [icon]="faLocationArrow"></fa-icon> 4km</span>
                    </div>
                    <div class="unavailable">
                        <span>indispo</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                <div class="resto-details">
                    <div class="resto-title">
                        <span class="title">Chez lamine</span>
                        <span class="icon">4<fa-icon [icon]="faStar"></fa-icon></span>
                    </div>
                    <div class="adress">
                        <span><fa-icon [icon]="faLocationDot"></fa-icon> Colobane</span>
                    </div>
                    <div class="distance">
                        <span><fa-icon [icon]="faLocationArrow"></fa-icon> 4km</span>
                    </div>
                    <div class="unavailable">
                        <span>indispo</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                <div class="resto-details">
                    <div class="resto-title">
                        <span class="title">Chez lamine</span>
                        <span class="icon">4<fa-icon [icon]="faStar"></fa-icon></span>
                    </div>
                    <div class="adress">
                        <span><fa-icon [icon]="faLocationDot"></fa-icon> Colobane</span>
                    </div>
                    <div class="distance">
                        <span><fa-icon [icon]="faLocationArrow"></fa-icon> 4km</span>
                    </div>
                    <div class="available">
                        <span>dispo</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                <div class="resto-details">
                    <div class="resto-title">
                        <span class="title">Chez lamine</span>
                        <span class="icon">4<fa-icon [icon]="faStar"></fa-icon></span>
                    </div>
                    <div class="adress">
                        <span><fa-icon [icon]="faLocationDot"></fa-icon> Colobane</span>
                    </div>
                    <div class="distance">
                        <span><fa-icon [icon]="faLocationArrow"></fa-icon> 4km</span>
                    </div>
                    <div class="available">
                        <span>dispo</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                <div class="resto-details">
                    <div class="resto-title">
                        <span class="title">Chez lamine</span>
                        <span class="icon">4<fa-icon [icon]="faStar"></fa-icon></span>
                    </div>
                    <div class="adress">
                        <span><fa-icon [icon]="faLocationDot"></fa-icon> Colobane</span>
                    </div>
                    <div class="distance">
                        <span><fa-icon [icon]="faLocationArrow"></fa-icon> 4km</span>
                    </div>
                    <div class="available">
                        <span>dispo</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>