<header>
    <div>
        <img class="logo" src="../../../assets/images/waaneat-logo.png" alt="logo">
    </div>
    <div class="contact">Besoin d'aide ? Contactez-nous: 773334433</div>
    <div>
        <button class="cgu"><fa-icon [icon]="faScaleBalanced"></fa-icon>Politique d'utilisation</button>
        <button class="login"><fa-icon [icon]="faUser"></fa-icon>Connexion</button>
    </div>
</header>
<div class="sub-header">

</div>
<main>
    <div class="banner">
        <img src="../../../../assets/images/restaurant2-banner.jpg" alt="">
    </div>
    <div class="body">
        <div class="header">
            <h1>Nos plats</h1>
            <p>Chez lamine vous souhaite la bienvenue dans leur restaurant</p>
        </div>
        <div class="dishes">
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
            <div class="dish">
                <img src="../../../../assets/images/plat2.jpg" alt="">
                <div class="dish-details">
                    <div class="info1">
                        <span class="dish-name">Burger</span>
                        <span class="dish-price">1500f</span>
                    </div>
                    <span class="trait"></span>
                    <div class="info2">
                        <span class="dish-desc">la description du plat</span>
                    </div>
                </div>
            </div>
        </div>
        <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
        </mat-paginator>
    </div>
    
</main>