<header>
    <div>
        <img class="logo" src="../../../assets/images/waaneat-logo.png" alt="logo">
    </div>
    <div class="contact">Besoin d'aide ? Contactez-nous: 773334433</div>
    <div>
        <button class="cgu"><fa-icon [icon]="faScaleBalanced"></fa-icon>Politique d'utilisation</button>
        <button class="login"><fa-icon [icon]="faUser"></fa-icon>Connexion</button>
    </div>
</header>
<main>
    <div class="banner">
        <img src="../../../../assets/images/restaurant2-banner.jpg" alt="">
    </div>
    <div class="header">

    </div>
    <div class="plats">

    </div>
</main>