<div class="contain-form">
    <form [formGroup]="contactForm">
        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step>
                <ng-template matStepLabel>Modifier un plat</ng-template>
                <main>
                    <div>
                        <input type="text" placeholder="nom du plat" formControlName="senderDishName">
                        <div *ngIf="contactForm.get('senderDishName')?.invalid && (contactForm.get('senderDishName')?.dirty || contactForm.get('senderDishName')?.touched)">
                            <small class="text-danger" *ngIf="contactForm.get('senderDishName')?.hasError('required')">
                                Veuillez remplir le champs
                            </small>
                        </div>
                    </div>

                    <div> 
                        <input type="number" placeholder="prix du plat" formControlName="senderDishPrice">
                        <div *ngIf="contactForm.get('senderDishPrice')?.invalid && (contactForm.get('senderDishPrice')?.dirty || contactForm.get('senderDishPrice')?.touched)">
                            <small class="text-danger" *ngIf="contactForm.get('senderDishPrice')?.hasError('required')">
                                Veuillez remplir le champs
                            </small>
                        </div>
                    </div>

                    <div class="CI-container">
                        <input formControlName="senderDishImg" style="display: none;" type="file" class="file-input" accept=".jpg, .jpeg, .png" 
                             #fileUpload (change)="uploadFile($event)">
    
                        <div class="file-upload">
                            <button class="upload-btn" [class.filled-border-success]="hasFileValue()"
                                (click)="fileUpload.click()">
                                Telecharger la photo du plat<mat-icon>upload</mat-icon>
                            </button> 
                        </div>

                        <div *ngIf="contactForm.get('senderDishImg')?.invalid && (contactForm.get('senderDishImg')?.dirty || contactForm.get('senderDishImg')?.touched)">
                            <small class="text-danger" *ngIf="contactForm.get('senderDishImg')?.hasError('required')">
                                Veuillez remplir le champs
                            </small>
                            <small class="text-danger" *ngIf="contactForm.get('senderDishImg')?.hasError('inValidExt')">
                                Seuls PNG , JPG , JPEG sont valides
                            </small>
                            
                        </div>
                    </div>
                </main>
                <!-- <div>
                    <button mat-button matStepperNext>Suivant</button>
                </div> -->
            </mat-step>
        </mat-stepper>
        <header>
            <button mat-icon-button matDialogClose> <mat-icon>close</mat-icon></button>
        </header>
        
        <footer>
            <button [disabled]="contactForm.invalid" (click)="register()" type="submit">Modifier</button>
        </footer>
    </form>
</div>
