<header>
    <div>
        <img class="logo" src="../../../assets/images/waaneat-logo.png" alt="logo">
    </div>
    <div class="contact">Contactez-nous: 773334433</div>
    <div>
        <button class="favorite-dish"><fa-icon [icon]="faHeart"></fa-icon> </button>
        <button class="favorite-resto"><fa-icon [icon]="faShop"></fa-icon> </button>
        <button class="cgu"><fa-icon [icon]="faScaleBalanced"></fa-icon>Politique d'utilisation</button>
        <button class="login"><fa-icon [icon]="faUser"></fa-icon>Connexion</button>
    </div>
    <fa-icon class="menu" [icon]="isMenuOpen ? faBars : faClose" (click)="toggleMenu()"></fa-icon>
</header>
<div class="" [ngClass]="{'menu-open': isMenuOpen, 'menu-close': !isMenuOpen}" (click)="toggleMenu()">
    
    <a href="http://localhost:4200/vendeur/dashboard">
        <div>
            <fa-icon [icon]="faLock"></fa-icon> 
            <span>Connexion</span>
        </div>
    </a>

    <a href="http://localhost:4200/vendeur/dashboard">
        <div>
            <fa-icon [icon]="faScaleBalanced"></fa-icon> 
            <span>Politique d'utilisation</span>
        </div>
    </a>
    
    <a href="http://localhost:4200/vendeur/dashboard">
        <div>
            <fa-icon [icon]="faHeart"></fa-icon> 
            <span>Mes plats favoris</span>
        </div>
    </a>

    <a href="http://localhost:4200/vendeur/dashboard">
        <div>
            <fa-icon [icon]="faHeart"></fa-icon> 
            <span>Mes restaurants favoris</span>
        </div>
    </a>

    <a href="http://localhost:4200/vendeur/dashboard">
        <div>
            <fa-icon [icon]="faPhone"></fa-icon> 
            <span>Besoin d'aide ?</span>
        </div>
    </a>
</div>
<main class="section1">
    <div class="left-banner">
        <div class="text">
            <span class="title">Avez-vous faim ?</span>
            <span class="subTitle">Commandez et recevez un plat pas cher et de qualité dans les plus brefs delais</span>
        </div>
        <form class="location">
            <select name="" id="">
                <option value="">Tous</option>
                <option value="Colobane">Colobane</option>
                <option value="Colobane">Point E</option>
                <option value="Colobane">Hlm</option>
                <option value="Colobane">Grand dakar</option>
                <option value="Colobane">Niary tally</option>
            </select>
            <button class="localiser"><fa-icon [icon]="faLocation"></fa-icon>Localiser</button>
        </form>
    </div>
    <div class="right-banner">
        <img src="../../../assets/images/waane_img.png" alt="">
    </div>
</main>
<main class="section2">
    <h1 class="section2-title">Comment ca marche ?</h1>
    <div class="steps-container">
        <div class="step-container">
            <span class="step-icon">
                <fa-icon [icon]="faLocationDot"></fa-icon>
            </span>
            <span class="step-title">
                <h3>Choisir la localisation</h3>
            </span>
            <span class="step-text">
                <p>Pour pouvoir trouver un plat vous pouvez la localiser selon l'endroit de votre choix qui vous plait</p>
            </span>
        </div>

        <div class="step-container">
            <span class="step-icon">
                <fa-icon [icon]="faMagnifyingGlassLocation"></fa-icon>
            </span>
            <span class="step-title">
                <h3>Rechercher votre plat</h3>
            </span>
            <span class="step-text">
                <p>Vous pouvez ensuite choisir vos plats selon vos gouts et dans le restaurant disponible de votre choix</p>
            </span>
        </div>

        <div class="step-container">
            <span class="step-icon">
                <fa-icon [icon]="faPhone"></fa-icon>
            </span>
            <span class="step-title">
                <h3>Passer votre commande</h3>
            </span>
            <span class="step-text">
                <p>Vous pouvez egalement passer votre commande au telephone , ainsi pouvoir preciser si necessaire vos preferences</p>
            </span>
        </div>

        <div class="step-container">
            <span class="step-icon">
                <fa-icon [icon]="faUtensils"></fa-icon>
            </span>
            <span class="step-title">
                <h3>Deguster calmement</h3>
            </span>
            <span class="step-text">
                <p>The last but not the least , Vous pourrez enfin appaiser votre appetit grace a Waaneat , votre partenaire de nutrition ;)</p>
            </span>
        </div>
    </div>
</main>
<main class="section3">
    <h1 class="section3-title">Les restaurants les plus proches</h1>
    <div class="shops-container">
        <div class="shop-container">
            <div class="top-shop">
                <div class="img-container">
                    <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                    <span class="stars">4 <fa-icon [icon]="faStar"></fa-icon></span>
                </div>
                <div class="shop-header">
                    <span class="resto-name">Chez Lamine</span>
                    <span class="status-open">Ouvert</span>
                </div>
            </div>
            <div class="bottom-shop">
                <span><fa-icon [icon]="faLocationDot"></fa-icon>Grand Yoff</span>
                <button>Voir la boutique</button>
            </div>
        </div>

        <div class="shop-container">
            <div class="top-shop">
                <div class="img-container">
                    <img src="../../../assets/images/resto1.jpg" alt="">
                    <span class="stars">4 <fa-icon [icon]="faStar"></fa-icon></span>
                </div>
                <div class="shop-header">
                    <span class="resto-name">Chez Lamine</span>
                    <span class="status-closed">Fermé</span>
                </div>
            </div>
            <div class="bottom-shop">
                <span><fa-icon [icon]="faLocationDot"></fa-icon>Grand Yoff</span>
                <button>Voir la boutique</button>
            </div>
        </div>

        <div class="shop-container">
            <div class="top-shop">
                <div class="img-container">
                    <img src="../../../assets/images/resto2.jpg" alt="">
                    <span class="stars">4 <fa-icon [icon]="faStar"></fa-icon></span>
                </div>
                <div class="shop-header">
                    <span class="resto-name">Chez Lamine</span>
                    <span class="status-open">Ouvert</span>
                </div>
            </div>
            <div class="bottom-shop">
                <span><fa-icon [icon]="faLocationDot"></fa-icon>Grand Yoff</span>
                <button>Voir la boutique</button>
            </div>
        </div>

        <div class="shop-container">
            <div class="top-shop">
                <div class="img-container">
                    <img src="../../../assets/images/resto2.jpg" alt="">
                    <span class="stars">4 <fa-icon [icon]="faStar"></fa-icon></span>
                </div>
                <div class="shop-header">
                    <span class="resto-name">Chez Lamine</span>
                    <span class="status-open">Ouvert</span>
                </div>
            </div>
            <div class="bottom-shop">
                <span><fa-icon [icon]="faLocationDot"></fa-icon>Grand Yoff</span>
                <button>Voir la boutique</button>
            </div>
        </div>

        <div class="shop-container">
            <div class="top-shop">
                <div class="img-container">
                    <img src="../../../assets/images/resto4.jpg" alt="">
                    <span class="stars">4 <fa-icon [icon]="faStar"></fa-icon></span>
                </div>
                <div class="shop-header">
                    <span class="resto-name">Chez Lamine</span>
                    <span class="status-open">Ouvert</span>
                </div>
            </div>
            <div class="bottom-shop">
                <span><fa-icon [icon]="faLocationDot"></fa-icon>Grand Yoff</span>
                <button>Voir la boutique</button>
            </div>
        </div>

        <div class="shop-container">
            <div class="top-shop">
                <div class="img-container">
                    <img src="../../../assets/images/resto5.jpg" alt="">
                    <span class="stars">4 <fa-icon [icon]="faStar"></fa-icon></span>
                </div>
                <div class="shop-header">
                    <span class="resto-name">Chez Lamine</span>
                    <span class="status-open">Ouvert</span>
                </div>
            </div>
            <div class="bottom-shop">
                <span><fa-icon [icon]="faLocationDot"></fa-icon>Grand Yoff</span>
                <button>Voir la boutique</button>
            </div>
        </div>

        <div class="shop-container">
            <div class="top-shop">
                <div class="img-container">
                    <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                    <span class="stars">4 <fa-icon [icon]="faStar"></fa-icon></span>
                </div>
                <div class="shop-header">
                    <span class="resto-name">Chez Lamine</span>
                    <span class="status-closed">Fermé</span>
                </div>
            </div>
            <div class="bottom-shop">
                <span><fa-icon [icon]="faLocationDot"></fa-icon>Grand Yoff</span>
                <button>Voir la boutique</button>
            </div>
        </div>

        <div class="shop-container">
            <div class="top-shop">
                <div class="img-container">
                    <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                    <span class="stars">4 <fa-icon [icon]="faStar"></fa-icon></span>
                </div>
                <div class="shop-header">
                    <span class="resto-name">Chez Lamine</span>
                    <span class="status-open">Ouvert</span>
                </div>
            </div>
            <div class="bottom-shop">
                <span><fa-icon [icon]="faLocationDot"></fa-icon>Grand Yoff</span>
                <button>Voir la boutique</button>
            </div>
        </div>

        <div class="view-all">
            <button> Voir tous les restaurants</button>
        </div>
    </div>
</main>
<footer>
    <div class="footer-section1">
        <div>
            <h2>Entreprise</h2>
            <a href="#">A propos de nous</a>
            <a href="#">Notre equipe</a>
            <a href="#">Carriere</a>
        </div>
    
        <div>
            <h2>Contact</h2>
            <a href="#">Aide et support</a>
            <a href="#">Je veux etre vendeur</a>
            <a href="#">Newsletter</a>
        </div>
    
        <div>
            <h2>Mentions legales</h2>
            <a href="#">Conditions generales d'utilisation</a>
            <a href="#">Politique de retour et d'annulation</a>
            <a href="#">Politique de confidentialité</a>
        </div>
    </div>
    <hr>
    <div class="footer-section2">
        <h2>Follow us</h2>
        <a href="#"><img src="../../../assets/images/telegram.png" alt=""></a>
        <a href="#"><img src="../../../assets/images/whatsapp.png" alt=""></a>
        <a href="#"><img src="../../../assets/images/instagram.png" alt=""></a>
    </div>

    <div class="footer-section3">
        <h2>Inscrivez-vous a la newsletter pour etre au courant des nouveautés</h2>
        <form>
            <input type="text" placeholder="Entrez votre email">
            <button>S'inscrire</button>
        </form>
    </div>

    <div class="footer-section4">
        <span>All rights reserved © Waaneat , 2024</span>
        <span>made with love by Waaneat</span>
    </div>

</footer>