<header>
    <div>
        <fa-icon [icon]="faArrowLeft"></fa-icon> 
    </div>
    
    <div>
        <fa-icon [icon]="faCartShopping"></fa-icon> 
    </div>
</header>
<main>
    <div class="dish-img">
        <img src="../../../../../assets/images/plat1.jpg" alt="">
    </div>
    <div class="dish-details">
        <div class="top-details">
            <h1>Hamburger saff roff</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, repellat? Quae ipsum laudantium adipisci fuga officia similique nemo cupiditate dolore, ex, modi veniam necessitatibus accusantium deleniti, culpa corporis? Eius, saepe?</p>
            <h2>1500F</h2>
            <button>Commander le plat</button>
        </div>
        <div class="order">
            
        </div>
    </div>
</main>