<mat-nav-list>

    <div class="filter">
        <select name="" id="">
            <option value="Tous">Tous</option>
            <option value="Colobane">Colobane</option>
            <option value="Colobane">Colobane</option>
            <option value="Colobane">Colobane</option>
        </select>
        <div class="range-input">
            <div class="min-value numberVal">
                <input type="number" min="0" max="10000" value="2500" disabled>
            </div>
            <div class="range-slider">
                <div class="progresse"></div>
                <input type="range" class="range-min" min="0" max="10000" [(ngModel)]="minValue" >
                <input type="range" class="range-max" min="0" max="10000" [(ngModel)]="maxValue" >
              </div>
            <div class="max-value numberVal">
                <input type="number" min="0" max="10000" value="7500" disabled>
            </div>
            <!-- <input class="range-input-min" type="range" min="800" max="5000" placeholder="">
            <input class="range-input-max" type="range" min="5000" max="10000" placeholder=""> -->
        </div>
        <button>
            <fa-icon></fa-icon>
            <span>Filtrer le plat</span>
        </button>
    </div>
    
</mat-nav-list>