<header>
    <div>
        <img class="logo" src="../../../assets/images/waaneat-logo.png" alt="logo">
    </div>
    <div class="contact">Besoin d'aide ? Contactez-nous: 773334433</div>
    <div>
        <button class="cgu"><fa-icon [icon]="faScaleBalanced"></fa-icon>Politique d'utilisation</button>
        <button class="login"><fa-icon [icon]="faUser"></fa-icon>Connexion</button>
    </div>
</header>
<div class="sub-header">
    
</div>
<main class="main-container">
    <div class="search-container">
        <div class="search-bar-container">
            <input type="text" placeholder="Rechercher votre plat">
            <button> <fa-icon [icon]="faSearch"></fa-icon> Rechercher</button>
        </div>
        <div class="filtre">
            <select name="" id="">
                <option value="Colobane">Colobane</option>
                <option value="Point E">Point E</option>
                <option value="Grand yoff">Grand yoff</option>
                <option value="HLM">HLM</option>
            </select>
            <div class="range-input">
                <input class="range-input-min" type="range" min="800" max="5000" placeholder="">
                <input class="range-input-max" type="range" min="5000" max="10000" placeholder="">
            </div>
            <div class="btn-container">
                <button> <fa-icon [icon]="faFilter"></fa-icon> Filtrer</button>
            </div>
        </div>
    </div>
    <div class="cards-container">
        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/plat1.jpg" alt="">
            </div>
            <div class="card-body">
                <h2>Hamburger</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officia </p>
            </div>
            <div class="card-footer">
                <span class="price">1500 f</span>
                <button>Commander</button>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/plat2.jpg" alt="">
            </div>
            <div class="card-body">
                <h2>Hamburger</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officia </p>
            </div>
            <div class="card-footer">
                <span class="price">1500 f</span>
                <button>Commander</button>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/plat3.jpg" alt="">
            </div>
            <div class="card-body">
                <h2>Hamburger</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officia </p>
            </div>
            <div class="card-footer">
                <span class="price">1500 f</span>
                <button>Commander</button>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/plat4.jpg" alt="">
            </div>
            <div class="card-body">
                <h2>Hamburger</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officia </p>
            </div>
            <div class="card-footer">
                <span class="price">1500 f</span>
                <button>Commander</button>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/plat5.jpg" alt="">
            </div>
            <div class="card-body">
                <h2>Hamburger</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officia </p>
            </div>
            <div class="card-footer">
                <span class="price">1500 f</span>
                <button>Commander</button>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/plat6.jpg" alt="">
            </div>
            <div class="card-body">
                <h2>Hamburger</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officia </p>
            </div>
            <div class="card-footer">
                <span class="price">1500 f</span>
                <button>Commander</button>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/plat7.jpg" alt="">
            </div>
            <div class="card-body">
                <h2>Hamburger</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officia </p>
            </div>
            <div class="card-footer">
                <span class="price">1500 f</span>
                <button>Commander</button>
            </div>
        </div>

        <div class="card-container">
            <div class="card-banner">
                <img src="../../../assets/images/plat8.jpg" alt="">
            </div>
            <div class="card-body">
                <h2>Hamburger</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officia </p>
            </div>
            <div class="card-footer">
                <span class="price">1500 f</span>
                <button>Commander</button>
            </div>
        </div>
    </div>
</main>