<header>
    <div>
        <a href="http://localhost:4200/"><img class="logo" src="../../../assets/images/waaneat-logo.png" alt="logo"></a>
    </div>
    <div class="contact">Besoin d'aide ? Contactez-nous: 773334433</div>
    <div>
        <!-- <button class="favorite-dish"><fa-icon [icon]="faHeart"></fa-icon> </button>
        <button class="favorite-resto"><fa-icon [icon]="faShop"></fa-icon> </button> -->
        <button class="cgu"><fa-icon [icon]="faScaleBalanced"></fa-icon>Politique d'utilisation</button>
        <button routerLink="../connexion" class="login"><fa-icon [icon]="faUser"></fa-icon>Connexion</button>
    </div>
    <fa-icon class="menu" [icon]="isMenuOpen ? faBars : faClose" (click)="toggleMenu()"></fa-icon>
</header>
<div class="sub-header">

</div>
<div class="" [ngClass]="{'menu-open': isMenuOpen, 'menu-close': !isMenuOpen}" (click)="toggleMenu()">
    
    <a href="http://localhost:4200/connexion">
        <div>
            <fa-icon [icon]="faLock"></fa-icon> 
            <span>Connexion</span>
        </div>
    </a>

    <a href="#">
        <div>
            <fa-icon [icon]="faScaleBalanced"></fa-icon> 
            <span>Politique d'utilisation</span>
        </div>
    </a>
    
    <!-- <a href="http://localhost:4200/vendeur/dashboard">
        <div>
            <fa-icon [icon]="faHeart"></fa-icon> 
            <span>Mes plats favoris</span>
        </div>
    </a>

    <a href="http://localhost:4200/vendeur/dashboard">
        <div>
            <fa-icon [icon]="faHeart"></fa-icon> 
            <span>Mes restaurants favoris</span>
        </div>
    </a> -->

    <a href="#">
        <div>
            <fa-icon [icon]="faPhone"></fa-icon> 
            <span>Besoin d'aide ?</span>
        </div>
    </a>
</div>
<main class="main-container">
    <form class="action-sup" action="">
        <button mat-raised-button (click)="openBottomSheet()"><fa-icon [icon]="faFilter"></fa-icon> </button>
    </form>
    <div class="search-container">
        <div class="search-bar-container">
            <input type="text" placeholder="Rechercher votre plat">
            <button> <fa-icon [icon]="faSearch"></fa-icon> <span>Rechercher</span></button>
        </div>
        <form class="filtre">
            <select name="" id="">
                <option value="Colobane">Colobane</option>
                <option value="Point E">Point E</option>
                <option value="Grand yoff">Grand yoff</option>
                <option value="HLM">HLM</option>
            </select>
            <div class="btn-container">
                <button> <fa-icon [icon]="faFilter"></fa-icon> Filtrer</button>
            </div>
        </form>
    </div>
    <div class="cards-container">

        <div *ngFor="let restaurant of restaurants" class="card-container">
        <a [href]="'http://localhost:4200/restaurant/' + restaurant.id">
            <div class="card-banner">
                <img src="../../../assets/images/restaurant-banner.jpg" alt="">
                <div class="resto-details">
                    <div class="resto-title">
                        <span class="title">{{restaurant.restoName}}</span>
                        <span class="icon"><fa-icon [icon]="faStar"></fa-icon></span>
                    </div>
                    
                    <div class="adress">
                        <span><fa-icon [icon]="faLocationDot"></fa-icon> Colobane</span>
                    </div>
                    <div class="distance">
                        <span><fa-icon [icon]="faLocationArrow"></fa-icon> 4km</span>
                    </div>
                    <div class="hours">
                        <span><fa-icon [icon]="faClock"></fa-icon> {{restaurant.hourStart}} - {{restaurant.hourEnd}} </span>
                    </div>
                    
                    <div *ngIf="restaurant.isAvailable; else unavailableStatus" class="available"><span>dispo</span></div>
                    <ng-template #unavailableStatus>
                        <div class="unavailable">
                            <span>indispo</span>
                        </div>
                    </ng-template>
                </div>
            </div>
            </a>
        </div>

    </div>
</main>
<section>
    <ul class="page">
        <a href="#page">
            <li>
                <fa-icon [icon]="faAngleLeft"></fa-icon>
            </li>
        </a>
        <a href="#page">
            <li>
                <fa-icon [icon]="faAngleRight"></fa-icon>
            </li>
        </a>
        <a href="#page" class="active">
            <li>
                1
            </li>
        </a>
        <a href="#page">
            <li>
                2
            </li>
        </a>
        <a href="#page">
            <li>
                3
            </li>
        </a>
        <span >
            <li>
                ...
            </li>
        </span>
        <a href="#page">
            <li>
                21
            </li>
        </a>
    </ul>
</section>
<footer></footer>